<html lang="en">
  <head>
    <title>TangChao Spa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="topnav">
      <h3 style="margin-top: 35px">Phone: 718-865-7756</h3>

      <h3>Address: 1112 Avenue U Brooklyn,NY 11223</h3>
      <a href="#service">Service</a>
      <a href="#sample">Sample </a>
      <a href="#contact">Contact</a>
    </div>

    <div class="header">
      <!-- <h1 class="storeTitle">TangChao Spa</h1>
      <div style="text-align: right">
        <img src="assets/image/icon.jpeg" width="100" />
      </div> -->
      <div class="titleIcon">
        <h1 style="display: inline-block" class="storeTitle">TangChao Spa</h1>
        <img
          style="display: inline-block"
          src="assets/image/sp.png"
          width="100"
        />
      </div>
    </div>

    <div class="row">
      <div class="column2">
        <img src="assets/image/icon.jpeg" alt="Snow" style="width:100%" />
      </div>
      <div class="column2">
        <img src="assets/image/icon.jpeg" alt="Forest" style="width:100%" />
      </div>
    </div>

    <h1 id="service" class="storeTitle2">Service we are offering</h1>

    <app-todo-item *ngFor="let todo of todos" [todo]="todo"> </app-todo-item>

    <h1 id="sample" class="imageTitle">Sample Show</h1>

    <div class="row">
      <div class="column">
        <img src="assets/image/spa1.jpeg" alt="Snow" style="width:100%" />
      </div>
      <div class="column">
        <img src="assets/image/spa2.jpeg" alt="Forest" style="width:100%" />
      </div>
      <div class="column">
        <img src="assets/image/spa3.jpeg" alt="Mountains" style="width:100%" />
      </div>
      <div class="column">
        <img src="assets/image/spa4.jpeg" alt="Snow" style="width:100%" />
      </div>
      <div class="column">
        <img src="assets/image/spa5.jpeg" alt="Forest" style="width:100%" />
      </div>
      <div class="column">
        <img src="assets/image/spa6.jpeg" alt="Mountains" style="width:100%" />
      </div>
    </div>
    <div id="contact" class="footer">
      <h2>Contact</h2>
      <h3>Phone: 718-865-7756</h3>
      <h3>Address: 1112 Avenue U Brooklyn,NY 11223</h3>
      <h3>Open 7 days a week 11:00 am to 10:00 pm</h3>
      <h6>©2020 TangChao Spa</h6>
      <h6>All Rights Reserved</h6>
      <h6>ZYH & LJY</h6>
    </div>
  </body>
</html>
