<app-header> </app-header>
<div class="col-md-6" style="margin: 0px auto;">
  <h2 class="text-center" style="margin:10px;">Add Customer Appointment</h2>
  <form>
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="name"
        [(ngModel)]="customer.name"
        placeholder="name"
        name="name"
        class="form-control"
        id="name"
      />
    </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      <input
        [(ngModel)]="customer.phone"
        placeholder="phone"
        name="phone"
        class="form-control"
        id="phone"
      />
    </div>
    <div class="form-group">
      <label for="appointmentTime">Appointment Time: </label>
      <input type="date" name="date" [(ngModel)]="customer.date" />
      <input type="time" name="time" [(ngModel)]="customer.time" />
    </div>
    <div class="form-group">
      <label for="detail">Detail: </label>
      <input
        [(ngModel)]="customer.detail"
        placeholder="detail"
        name="detail"
        class="form-control"
        id="detail"
      />
    </div>
    <div class="form-group">
      <label for="other">Other: </label>
      <input
        [(ngModel)]="customer.other"
        placeholder="other"
        name="other"
        class="form-control"
        id="other"
      />
    </div>
    <button class="btn btn-success" (click)="createCustomer()">Create</button>
  </form>
</div>
